name: CI_Workflow

on: push

jobs:
  run_pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: code checkout
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: run pipeline
        env:
          DAGSHUB_PAT: ${{ secrets.DAGSHUB_PAT  }}
        run: |
          dvc repro

      - name: run model tests
        env:
          DAGSHUB_PAT: ${{ secrets.DAGSHUB_PAT  }}
        run: |
          python -m unittest tests/unittests.py

      - name: Promote model to the production
        if: success()
        env:
          DAGSHUB_PAT: ${{ secrets.DAGSHUB_PAT  }}
        run: |
          python "scripts/promote_model.py"
